{% extends 'base.html' %}

<title>Snack Details</title>
  
{% block content %}
  <section>
    <h2>{{ snack.name }}</h2>
    <h4>Description: {{ snack.description }}</h4>
    <h4>Purchaser: {{ snack.purchaser }}</h4>
  </section>
  <h5><a href="{% url 'snack_list' %}">Go Back to List</a></h5>

  <div>
    <h3>Update or Delete</h3>
    <h4><a href="{% url 'snack_update' snack.pk %}">Update</a></h4>
    <h4><a href="{% url 'snack_delete' snack.pk %}">Delete</a></h4>
  </div>
{% endblock content %}